body {
    background-color: black;
    position: relative;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.contact div {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #232323;
}

a.nounderline {
    text-decoration: none;
}

.header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

a {
    color: #000000;
}

    a:link {
        color: #000000;
    }

    a:hover {
        color: #000000;
    }

    a:visited {
        color: #000000;
    }

    a:active {
        color: #000000;
    }

    a.imglink {
        background: transparent;
        display: inline-block;
    }

        a.imglink img {
            margin: 4px;
            vertical-align: middle;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        a.imglink:hover img {
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            filter: grayscale(0%);
        }

        a.imglink svg {
            margin: 4px;
            vertical-align: middle;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        a.imglink:hover svg {
            color: #4078c0;
            fill: currentColor;
        }

.navbar {
    margin-bottom: 0px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

    .affix ~ .container-fluid {
        position: relative;
        top: 50px;
    }

.gradient-linear-reversed {
    background: -moz-linear-gradient(top,rgba(245,248,249,0.85) 0%,rgba(245,248,249,0.0) 75%);
    background: -webkit-linear-gradient(top,rgba(245,248,249,0.85) 0%,rgba(245,248,249,0.0) 75%);
    background: linear-gradient(to bottom,rgba(245,248,249,0.85) 0%,rgba(245,248,249,0.0) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f8f900',endColorstr='#f5f8f900',GradientType=0);
}


ul {
    list-style-type: none;
    margin: 0 0 15px 0;
}

    ul li {
        padding: 0 20px 4px 0px;
        background: none;
        position: relative;
        font-size: 1.0625em;
    }


li {
    display: inline-block;
    text-align: -webkit-match-parent;
    vertical-align: top;
}

/*#region Footer*/

ul.languages {
    padding: 0;
}

    ul.languages li {
        width: 65px;
    }

label.worked-with {
    padding: 0px 15px 0px 15px;
    margin-bottom: -5px;
}

ul.worked-with {
    padding: 0;
}

    ul.worked-with li {
        width: 165px;
        height: 51px;
        vertical-align: middle;
        display: table-cell;
        padding: 0px 15px 0px 15px;
        -ms-opacity: 0.6;
        opacity: 0.6;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        transition: opacity .2s;
    }

        ul.worked-with li:hover {
            -ms-opacity: 1;
            opacity: 1;
        }

.samsung-color {
    background-color: #1428a0;
}

.samsung-bg-logo {
    display: block;
    width: 151px;
    height: 22px;
    margin: 2px;
    background: url(/images/samsung-logo-letter-light-gray.png) no-repeat;
    background-size: auto 22px;
    background-position: center;
    line-height: 100px;
    overflow: hidden;
    color: transparent !important;
}

.fuero-bg-logo {
    display: block;
    width: 160px;
    height: 49px;
    margin: 2px;
    margin-top: -4px;
    background: url(/images/FueroGames-logo-light-gray.png) no-repeat;
    background-size: auto 49px;
    background-position: center;
    line-height: 100px;
    overflow: hidden;
    color: transparent !important;
}

.seven-lvls-bg-logo {
    display: block;
    width: 152px;
    height: 39px;
    margin: 2px;
    background: url(/images/7Levels-Logo-light-gray.png) no-repeat;
    background-size: auto 39px;
    background-position: center;
    line-height: 100px;
    overflow: hidden;
    color: transparent !important;
}

.contact-footer {
    font-size: 19px;
    margin-left: 52px;
}

/*#endregion Footer*/
